<div class="container-fluid">
    <h3>GadgetLine - магазин оптово-розничной торговли электроники, аксессуаров, комплектующих,
        а также предоставление услуг по ремонту и сервисному обслуживанию мобильной, компьютерной, цифровой и другой электронике.</h3>
    <p>
        Мы рады приветствовать Вас в нашем магазине! Наш магазин специализируется по оптово-розничной продаже мобильной, компьютерной, цифровой техники, электроники, комплектующих, аксессуаров, гаджетов, а так же предоставлением услуг по ремонту электротехники и сервисному обслуживанию!
        Годами наработанный опыт и профессионализм дает нам возможности ступать нога в ногу с новыми изобретениями товаров в данной сфере. В нашем магазине каждый клиент сможет приобрести электронику мировых брендов, которые зарекомендовали себя как на международном так и на украинском рынке только с наилучших сторон. Мы работаем по основным принципам работы: это самые взаимовыгодные условия сотрудничества для оптовых клиентов, которые предоставляются и основаны на полном доверии, качественным товаром, обслуживанием на высоком уровне. А так же, индивидуальный подход для каждого клиента и максимально профессиональная консультация.
        Посетив наш магазин, мы обязуемся перед нашими клиентами, показать профессионализм, предоставить высокий уровень обслуживания, качественный и широкий ассортимент товаров для каждого! Предоставления услуг по ремонту и сервисного обслуживания с доступными ценами для всех, качественный, быстрый и недорогой ремонт, бережное и аккуратное отношение к Вашей электронике. Для нас главная цель, это не только продажа и ремонт электроники, гаджетов, аксессуаров, комплектующих, но и предоставление и обеспечение клиента всеми документами которые необходимы, полезной и достоверной информацией, полной консультацией, сервисным обслуживанием, именно всем тем, что поможет сэкономить ваше время и расходы. Наша миссия - это быть полезными для Вас и мы всегда будем с радостью учитывать ваши замечания и пожелания.
    </p>
    <p>
        Наш коллектив состоит из молодых, активных, целеустремлённых, амбициозных сотрудников, которые с удовольствием развиваются и помогают развиваться окружающим. Выбирая наш магазин GadgetLine, Вы в первую очередь выбираете себе надежного, практичного и высококвалифицированного партнера, а так же хорошего друга.
    </p>
    <p>
        Мы всегда будем рады приветствовать и видеть Вас в числе наших дорогих клиентов, а так же обычным гостем. Ведь для нас каждый человек очень Важен!
        И поэтому для наших дорогих и любимых клиентов, мы разработали системы скидок и персональные предложения на постоянной основе, и уже при первой покупке вы останетесь, приятно удивлены.
    </p>
    <p>
        Мы так же предоставляем удобную курьерскую доставку по Киеву, доставку по всей Украине любой службой перевозки, самовывоз товара из нашего магазина. Удобная для вас форма оплаты: это и наложенный платеж, безналичный, а так же оплата наличными при получении товара. По Закону Украины "О защите прав потребителей", каждый имеет право на Возврат товара в течение 14 календарных дней. Покупая у нас, вы всегда без проблем можете, предварительно уточнить о наличии заинтересовавшего товара, забрать и проверить его в нашем магазине.
    </p>
    <p>
        Приятных покупок!
    </p>
    <p>
        Выбирая нас это значить будь лучшим, будь круче, будь всегда от всех на шаг впереди и именно Ты достойный этого!
    </p>
</div>