<div class="container-fluid">
    <h3>Предоставляемые услуги</h3>
    <hr/>
    <ul>
        <li><p>Замена дисплея в комплекте с сенсорным стеклом Lenovo S660 <strong>220 грн.</strong></p></li>
        <li><p>Замена батареи Lenovo S660 уточняйте</p></li>
        <li><p>Ремонт/замена кнопки включения (блокировки экрана) Lenovo S660 от <strong>110 грн.</strong></p></li>
        <li><p>Ремонт/замена кнопок регулировки громкости Lenovo S660 от <strong>110 грн.</strong></p></li>
        <li><p>Ремонт/замена коннектора (гнезда) наушников Lenovo S660 от <strong>110 грн.</strong></p></li>
        <li><p>Ремонт/замена коннектора карты памяти Lenovo S660 от <strong>110 грн.</strong></p></li>
        <li><p>Ремонт/замена полифонического динамика Lenovo S660 от <strong>120 грн.</strong></p></li>
        <li><p>Замена микрофона Lenovo S660 от <strong>120 грн.</strong></p></li>
        <li><p>Ремонт/замена разговорного динамика Lenovo S660 от <strong>120 грн.</strong></p></li>
        <li><p>Ремонт/замена коннектора Sim-карты Lenovo S660 от <strong>150 грн.</strong></p></li>
        <li><p>Ремонт/замена разъема питания (зарядки) Lenovo S660 от <strong>110 грн.</strong></p></li>
        <li><p>Ремонт/замена системной платы Lenovo S660 от <strong>120 грн.</strong></p></li>
        <li><p>Ремонт/восстановление шлейфов Lenovo S660 от <strong>120 грн.</strong></p></li>
        <li><p>Ремонт/восстановление датчика света и приближения Lenovo S660 от <strong>150 грн.</strong></p></li>
        <li><p>Восстановление подсветки экрана Lenovo S660 от <strong>180 грн.</strong></p></li>
        <li><p>Ремонт/замена разъемов (коннекторов) на плате Lenovo S660 от <strong>180 грн.</strong></p></li>
        <li><p>Чистка после попадания жидкости Lenovo S660 от <strong>250 грн.</strong></p></li>
        <li><p>Аппаратный ремонт (пайка) Lenovo S660 от <strong>180 грн.</strong></p></li>
        <li><p>Восстановление загрузчика Lenovo S660 <strong>280 грн.</strong></p></li>
        <li><p>Перепрошивка Lenovo S660 <strong>180 грн.</strong></p></li>
        <li><p>Чистка стекла камеры Lenovo S660 от <strong>80 грн.</strong></p></li>
    </ul>
</div>