/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
    .product-block-item {
        max-height: 400px;
        width: 100%;
    }

    .product-block-item .thumbnail {
        height: 290px;
    }

    .product-list-item .thumbnail {
        width: 50%;
        height: 250px;
    }

    #edit-product .thumbnail.active {
        width: 100%;
        height: 315px;
    }

    #edit-product .thumbnail.mini {
        width: 25%;
        height: 90px;
        margin-right: 12px !important;
    }
}

@media (min-width: 480px) {
    .product-block-item {
        max-height: 390px;
        width: 50%;
    }

    .product-block-item .thumbnail {
        height: 280px;
    }

    .product-list-item .thumbnail {
        width: 18%;
        height: 120px;
    }

    #edit-product .thumbnail.active {
        width: 40%;
        height: 260px;
    }

    #edit-product .thumbnail.mini {
        width: 12%;
        height: 75px;
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 768px){
    .product-block-item {
        max-height: 365px;
        width: 33.33%;
    }

    .product-block-item .thumbnail {
        height: 240px;
    }

    .product-list-item .thumbnail {
        width: 19%;
        height: 120px;
    }

    #edit-product .thumbnail.active {
        width: 40%;
        height: 280px;
    }

    #edit-product .thumbnail.mini {
        width: 12%;
        height: 85px;
    }
}

@media (min-width: 992px){
    .product-block-item {
        max-height: 380px;
        width: 33.33%;
    }

    .product-block-item .thumbnail {
        height: 270px;
    }

    .product-list-item .thumbnail {
        width: 18%;
        height: 150px;
    }

    #edit-product .thumbnail.active {
        width: 35%;
        height: 290px;
    }

    #edit-product .thumbnail.mini {
        width: 10%;
        height: 95px;
    }
}

/* Large desktop */
@media (min-width: 1200px) {
    .product-block-item {
        max-height: 385px;
        width: 25%;
    }

    .product-block-item .thumbnail {
        width: 100%;
        height: 275px;
    }

    .product-list-item .thumbnail {
        width: 15%;
        height: 180px;
    }

    #edit-product .thumbnail.active {
        width: 27%;
        height: 350px;
    }

    #edit-product .thumbnail.mini {
        width: 8%;
        height: 100px;
    }
}

form#edit-product .thumbnail.active {
    margin: 0 0 7px 0;
    padding: 0;
}

form#edit-product .thumbnail.mini {
    margin: 0 12px 5px 0;
    padding: 0;
}

/*----- Products grid (panel view) -----*/
.product-block-item{
    float: left;
}

.product-block-item .panel {
    height: 100%;
    border-radius: 0;
}

.thumbnail {
    text-align: center;
    position: relative;
    white-space: nowrap; /* this is required unless you put the helper span closely near the img */
    border-radius: 0;
    padding: 0;
    margin: 0;
    font-size: 0 !important;
}

.vertical-aligner {
    display: inline-block !important;
    height: 100%;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    border: none;
}

.thumbnail img {
    vertical-align: middle;
    display: inline-block !important;
    max-height: 100%;
    max-width: 100%;
}



/*----- Products grid (line view) -----*/


/*----- Dropdown-submenu -----*/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/*----- Page header ------*/
nav.navbar {
    border-top: 2px solid brown;
    border-radius: 0;
    margin: 0;
}

#main-logo {
    padding: 2px 10px;
}
#main-logo a.navbar-brand {
    padding: 0;
} 

/*----- Page content ------*/
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

#main-content {
    margin-top: 70px;
}

/*----- Categories menu ------*/
#categories-menu-container {
    z-index: 1;
    padding: 0 0;
    height: 100%;
    overflow-y: hidden;
    border: #ddd 1px solid;
    -moz-border-top-right-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

#categories-menu-container span#menu-arrow-icon {
    float: right;
    top: 4px;
}

span.category-subgroup-icon {
    float: right;
    color: #ccc;
    font-size: 10px;
    position: relative;
    top: 0;
    right: 3px;
}

#categories-menu-btn {
    color: white;
    background: brown;
    border-bottom: gray 1px solid;
    border-radius: 3px;
    padding: 7px 15px 5px 12px;
    text-align: center;
    cursor: pointer;
    opacity: 0.9
}

#category-item-list.menu-hidden {
    height: 0;
  overflow: hidden;
}

#category-item-list.menu-displayed {
    height: 100%;
    overflow: hidden;
}

#category-item-list ul {
    padding: 0;
    list-style: none;
    margin: 0;
    background-color: white;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    opacity: 0.8;
}

#category-item-list ul li {
    line-height: 14px;
}

#category-item-list ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 10px 5px 7px;

}

#category-item-list ul li a:hover {
    background: #ddd;
    text-decoration: underline;
    opacity: 1;
    color: black;
}

#category-item-list ul li a:hover span.category-subgroup-icon {
    color: white;
}

/*----- Product Tools panel -----*/
.products-tools-panal {
    padding: 4px;
}

.products-tools-panal .btn {
    font-size: 14px;
    padding: 3px 12px 2px 12px;
}

.products-tools-panal .btn.active {
    outline: none;
    border-color: #e6e6e6;
    color: dimgray;
}

.products-tools-panal .btn.active:hover {
    border-color: #e6e6e6;
}

/*----- product-block-item -----*/
.product-list-container {
    padding: 0;
}
.product-block-item {
    padding: 4px;
    /*background-color: #f5f5f5;*/
}
.product-block-item .caption {
    margin: 0;
    position: relative;
    line-height: 15px;
    height: 100px;
    padding: 7px 10px;
}
.product-block-item .caption a.product-title {
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 13px;
    color: #843534;
    display: inline-block;
    margin-bottom: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 50px;
}
.product-block-item .caption a.product-title:hover {
    color: brown;
}

.product-block-item .actions {
    width: 100%;
}

.add-to-cart-btn {
    font-size: 14px;
    padding: 3px 8px;
}

.add-to-cart-btn span.glyphicon-shopping-cart {
    font-size: 15px;
}

.product-price {
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
}

/*----- product list item -----*/
.product-list-item {
    width: 100%;
    display: block;
    padding: 4px 0;
    margin: 0;
}

.product-list-item .panel,
.product-block-item .panel {
    margin: 0;
}

.product-list-item .panel-body,
.product-block-item .panel-body {
    padding: 0;
}

.product-list-item .thumbnail,
.product-block-item .thumbnail {
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
}
.product-list-item .item-title {
    line-height: 14px;
}
.product-list-item a.product-title {
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 14px;
    color: #843534;
}

.product-list-item a.product-title:hover {
    color: brown;
}

.product-list-item .product-price {
    padding: 0 5px 10px 0;
}

.product-list-item .item-title {
    padding: 25px 7px;
}
.product-list-item .item-actions {
    padding: 22px 7px;
}

/*----- products pagination panel -----*/
.product-list-pagination {
    display: block;
    text-align: center;
}

/*----- Page footer -----*/
footer.navbar {
    background: #333;
    color: #eee;
    font-size: 11px;
    padding: 10px;
    margin: 0;
}

