<div class="products-tools-panal container-fluid">
    <div class="btn-group btn-group-sm pull-right">
        <label class="btn btn-default" ng-class="{active: vm.viewMode == 'block'}">
            <input type="radio" ng-model="vm.viewMode" value="block" style="display: none;">
            <span class="glyphicon glyphicon-th"></span>
        </label>
        <label class="btn btn-default" ng-class="{active: vm.viewMode == 'list'}">
            <input type="radio" ng-model="vm.viewMode" value="list" style="display: none;">
            <span class="glyphicon glyphicon-list"></span>
        </label>
    </div>
</div>
<div class="product-list-container container-fluid">
    <ng-include src="vm.viewMode == 'block' ? 'views/components/products-block-view.html' : 'views/components/products-list-view.html'">
    </ng-include>
 </div>
<div class="product-list-pagination">
    <ul uib-pagination
        total-items="vm.data.totalItems"
        ng-model="vm.data.pageNumber"
        items-per-page="vm.data.pageSize"
        max-size="7"
        direction-links="false"
        class="pagination pagination-md" rotate="false"></ul>
</div>