<div class="container-fluid table-responsive">
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th width="200px">Фото</th>
                <th width="100px">Код товара</th>
                <th>Название товара</th>
                <th width="100px">Цена</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.data.items">
                <td>Фото</td>
                <td>{{item.code}}</td>
                <td><a style="cursor: pointer">{{item.title}}</a></td>
                <td>{{item.price}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <ul uib-pagination
            total-items="vm.data.totalItems"
            ng-model="vm.data.pageNumber"
            items-per-page="vm.data.pageSize"
            ng-change="vm.pageChanged()"
            max-size="7"
            class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
    </div>
</div>
